*{padding:0;margin:0}
a{text-decoration:none}
b,h1,h2,h3,h4,h5,h6,strong,th{font-weight:400}
body{font:14px/1.5 "Microsoft YaHei",NSimSun,SimHei,Verdana,Arial,sans-serif;color:#333;background-color:#f2f2f2}
button,input[type=button]{border:none;outline:0;cursor:pointer}
em,i{font-style:normal}
ol,ul{list-style:none}
.absolute{position:absolute}
.blue-warning{background-position:-407px -90px;width:12px;height:12px;display:block}
.block-center{margin:0 auto}
.border-bottom-dashed{border-bottom:1px dashed #ccc}
.border-bottom-solid{border-bottom:1px solid #ccc}
.border{border:1px solid #ccc}
.botton-orange{background-color:#ff6d22;border-color:#ff6d22;color:#fff}
.botton-orange:focus,.botton-orange:hover{background-color:rgba(255,108,34,.8);border-color:#ff6d22;color:#fff}
.bold{font-weight:700}
.color-red{color:#ff313b}
.color-orange{color:#ff6d22}
.color-green{color:#3dc68a}
.color-gray{color:#6a6a6a}
.color-grey{color:#999}
.color-black{color:#333}
.color-blue{color:#0086e4}
.color-white{color:#fff}
.col{font-size:0}
.col-5{width:50%;display:inline-block}
.delete-line{text-decoration:line-through}
.download{border:1px solid #e8e8e8;padding:0 8px;height:26px;line-height:26px;border-radius:4px;color:#000;font-size:14px;text-decoration:none}
.el-button--orange{color:#fff;background-color:#ff6d22;border-color:#ff6d22}
.el-button--orange:focus,.el-button--orange:hover{background:#ff904f;border-color:#ff904f;color:#fff}
.el-button--orange.is-active,.el-button--orange:active{background:#ff6d22;border-color:#ff6d22;color:#fff}
.el-button--orange:active{outline:0}
.el-button--orange.is-plain{color:#ff6d22;background:#fff;border-color:#ff6d22}
.el-button--orange.is-plain:focus,.el-button--orange.is-plain:hover{background:#ff6d22;border-color:#ff6d22;color:#fff}
.el-button--orange.is-plain:active{background:#ff6d22;border-color:#ff6d22;color:#fff;outline:0}
.el-dialog{width:600px;margin-top:30vh}
.el-dialog__header{padding:10px 20px;background-color:#409eff}
.el-dialog__body{padding:20px}
.el-dialog__title{font-size:16px;color:#fff}
.el-dialog__headerbtn{top:15px}
.el-dialog__headerbtn .el-dialog__close{color:#fff}
.el-dialog__headerbtn:focus .el-dialog__close,.el-dialog__headerbtn:hover .el-dialog__close{color:#fff}
.el-dialog__footer{padding:0 20px 20px 20px}
.el-form-item[is-required]>label::before,label[required]::before{content:'*';color:#f56c6c;margin-right:4px}
.el-message-box__content{padding:0 20px}
.el-pagination{margin:20px auto}
.el-rate{height:26px;display:inline-block;margin-left:8px;vertical-align:middle}
.el-rate__icon{font-size:24px}
.el-steps .el-step__icon{height:32px;width:32px}
.el-steps>div:first-child>div:first-child{position:relative}
.el-steps>div:first-child>div:first-child::before{content:"";height:2px;width:50%;position:absolute;top:15px;left:0;background-color:#409eff}
.el-steps>div:last-child>div:first-child{position:relative}
.el-steps>div:last-child>div:first-child::after{content:"";height:2px;width:50%;position:absolute;top:15px;right:0;background-color:#c0c4cc}
.el-steps>div:last-child>div.is-success:first-child::after{background-color:#409eff}
.el-step__head.is-success{color:#409eff;border-color:#409eff}
.el-step__title.is-process,.el-step__title.is-success{color:#409eff}
.el-step__title.is-process{font-size:16px}
.el-step.is-horizontal .el-step__line{top:15px}
.el-step__description.is-success{color:#999}
.el-step__description{width:80px;margin:0 auto}
.el-step__head.is-process{color:#fff;border-color:#409eff;position:relative}
.el-step__head.is-process .el-step__icon{background-color:#409eff}
.el-step__head.is-process::before{content:"";position:absolute;height:2px;top:15px;left:-50%;width:100%;background-color:#409eff}
.el-step__title.is-process,.el-tabs__item{font-weight:400}
.el-tabs__item.is-active{font-size:16px}
.el-tabs__nav-next,.el-tabs__nav-prev{font-size:22px;line-height:50px}
.check::before{content:'';position:absolute;bottom:0;right:0;z-index:1;width:0;height:0;border-bottom:18px solid #409eff;border-left:18px solid transparent}
.check::after{content:'\E611';font-family:element-icons!important;position:absolute;bottom:0;right:0;z-index:2;color:#fff;font-size:8px;line-height:10px}
.font12{font-size:12px}
.font14{font-size:14px}
.font15{font-size:15px}
.font16{font-size:16px}
.font20{font-size:20px!important}
.fontyh{font-family:  "Microsoft YaHei" !important}
.icon{background-image:url(../../assets/images/icon.png);display:inline-block}
.icon-order{background-position:0 0;width:22px;height:22px;}
.icon-droit{background-position:0 -32px;width:22px;height:22px;}
.icon-settlement{background-position:0 -64px;width:22px;height:22px}
.icon-center{background-position:0 -96px;width:22px;height:22px}
.icon-bond{background-position:0 -184px;width:136px;height:25px;display:block;color:#c3800f;text-indent:28px;font-size:12px;line-height:25px}
.icon-mark{background-position:-354px -83px;width:14px;height:14px}
.icon-menu{background-position:-212px 0;width:68px;height:67px}
.icon-int{background-position:-330px -83px;width:15px;height:22px}
.icon-download{background-position:-377px -66px;width:17px;height:14px}
.icon-money{background-position:-212px -77px;width:72px;height:72px}
.icon-bank{background-position: -569px -110px;width:36px;height:36px}
.icon-alipay{background-position: -615px -110px;width:36px;height:36px}
.icon-wechat{background-position:-661px -110px;width:36px;height:36px}
.icon-bao{background-position:-91px -219px;width:32px;height:34px}
.icon-complain{background-color:#fba0a0;padding:2px;color:#fff;border-radius:2px;margin-left:4px;cursor:pointer;font-family:SimSun}
.list{color:#666}
.list li{font-size:14px;line-height:21px;padding:5px 0;position:relative}
.list li[label]{padding-left:80px}
.list li[label]::before{position:absolute;left:0;color:#999;content:attr(label)}
.list a,.table td a,.title a{color:#ff6d22;cursor:pointer}
.list a:hover,.table td a:hover,.title a:hover{color:#ff6d22;text-decoration:underline}
.lineheight-three{line-height:3em}
.margin-bottom{margin-bottom:1em}
.margin-level{margin-left:1em;margin-right:1em}
.margin-right{margin-right:1em}
.margin-top{margin-top:1em}
.margin-v{margin-bottom:1em;margin-top:1em}
.margin-v-half{margin-bottom:.5em;margin-top:.5em}
.main{font-size:0}
.main-content{background-color:#fff;padding:30px}
.main-content-right{display:inline-block;vertical-align:top;margin-left:10px;width:1038px;box-sizing:border-box;background-color:#fff;padding:20px;box-sizing:border-box}
.note>div{border:1px solid #e8e8e8;margin-right:20px;background-color:#fff;display:inline-block;vertical-align:top;box-sizing:border-box;width:489px;margin-bottom:20px}
.note>div:nth-child(2n){margin-right:0}
.note .title{background-color:#f5f5f5;height:42px;line-height:42px;padding-left:1em;position:relative}
.note .content{height:190px;font-size:14px;line-height:190px}
.note .content .bottom{position:absolute;line-height:30px;bottom:10px;left:0;width:100%}
.note .content .bottom>*{padding-left:18px;position:relative}
.note .foot{border-top:1px solid #e8e8e8;vertical-align:middle;padding:20px;height:42px}
.note .foot .el-button{width:120px;height:35px;line-height:35px;padding:0}
.order-list{padding:20px;background-color:#fff;font-size:12px}
.order-list .order-title{background-color:#f5f5f5;border:1px solid #e8e8e8;font-size:0}
.order-list .order-title li{display:inline-block;font-size:14px;text-align:center;height:50px;line-height:50px}
/* 
.order-list .order-title li:nth-child(1){width:155px}
.order-list .order-title li:nth-child(2){width:325px}
.order-list .order-title li:nth-child(3){width:145px}
.order-list .order-title li:nth-child(4){width:145px}
.order-list .order-title li:nth-child(5){width:225px} */
.order-list .order-title li .el-date-editor .el-range-editor.el-input__inner{padding: 3px;}
.order-list .order-title li .el-date-editor input{width:80px}
.order-list .el-message-box__content{padding:0 15px}
.order-list .el-tabs__item{font-size:15px;font-weight:700;line-height:50px;height:50px}
.order-list .el-tabs__item.is-active{font-size:15px}
.order-item{margin-top:10px;background-color:#daf3ff;border-collapse:separate;border-spacing:1px;border:1px solid #fff;font-family: 'SimSun'}
.order-item:hover{border-color:#0086e4}
.order-item th{background-color:#eaf8ff;height:30px;line-height:30px;background-color:#eaf8ff;text-align:left;text-indent:14px;font-size: 12px;font-weight:400;position:relative}
/* .order-item th>*{display:inline-block} */
.order-item th strong{font-weight:700;margin-right:3em}
.order-item th span{margin-right: 2em}
.order-item td{height:112px;background-color:#fff;vertical-align:middle;text-align:center}
.order-item td>*{margin:8px}
.order-item td>a:nth-child(1){width:68px;height:28px;background-color:#ff6d22;margin:0 auto;border-radius:4px;color:#fff;line-height:28px}
.order-item td p{text-align:left;padding-left:10px}
.order-item a{text-decoration:none;color:#ff6d22;display:block}
.padding-bottom{padding-bottom:1em}
.padding-left{padding-left:1em}
.padding-right{padding-right:1em}
.padding-v{padding-top:1em;padding-bottom:1em}
.panel-fe{height:90px;background:#fffeee;border:1px solid #edd28b;font-size:24px;color:#666;line-height:90px;text-indent:30px}
.panel-f5{background:#f5f5f5;border:1px solid #e8e8e8;padding:15px 30px}
.paybalance{border:1px solid #ff6d22;padding:20px 15px 20px 45px;margin-top:15px;font-size:16px;height:26px;position:relative;line-height:26px}
.paybalance>em{border-left:1px solid #d7d7d7;margin:0 10px}
.paybalance .icon{background-position:-341px -38px;width:26px;height:26px;display:block;position:absolute;left:15px;top:20px}
.pay-button-panel{padding-left:100px}
.pay-button-panel button{border:none;cursor:pointer;font-size:14px}
.pay-button-panel button.button{border-radius:3px;width:114px;height:34px;line-height:1px;background-color:#ff6d22;color:#f5f5f5;margin-right:8px}
.pay-button-panel button[disabled]{cursor: no-drop;}
.pay-button-panel button.link{background-color:#fff;color:#ff6d22}
.payoption>div{width:154px;height:44px;border-radius:4px;border:1px solid #e8e8e8;display:inline-block;margin-right:24px;background-image:url(../../assets/images/icon.png)}
.payoption>div:nth-child(1){background-position:-146px -180px}
.payoption>div:nth-child(2){background-position:-310px -180px}
.payoption>div:nth-child(3){background-position:-474px -180px}
.payoption>div.is-active{border-color:#409eff}
.progress{padding:30px 0}
.personal-content{width:550px;margin-top:30px}
.pointer{cursor:pointer}
.red-warning{background-position:-405px -64px;width:16px;height:16px}
.relative{position:relative}
.right{right:0}
.screen{position:relative;font-size:14px;padding-left:100px;height:50px;line-height:50px}
.screen::before{content:attr(label);position:absolute;left:0}
.search{padding-bottom:15px;font-size:14px}
.search>label{display:inline-block;margin-right:10px;text-align:right}
.search .el-input{width:228px;margin-right:35px}
.search .el-input>input{height:34px}
.search .el-date-editor{height:34px;padding:0 10px}
.search .el-button{height:34px;width:64px;background-color:#0086e4;color:#fff;z-index:0;padding:0;border-color:#0086e4}
.summary{box-sizing:border-box;background-color:#e2f3ff;border:solid 1px #64bbf8;padding:15px;font-size:14px}
.summary h4{font-size:20px;color:#333;font-weight:700;margin-bottom:15px}
.summary p{margin-bottom:15px}
.summary button{width:114px;height:34px;background-color:#ff6d22;color:#fff;border-radius:4px;border-color:#ff6d22;margin-right:15px}
.summary button:focus,.summary button:hover{color:#fff;background-color:rgba(255,108,34,.8);border-color:#ff6d22}
.summary a{color:#ff6d22;margin-left:16px}
.summary a:hover{text-decoration:underline}
.summary a::after{content:'|';padding-left:16px;color:#ccc}
.summary a:last-child::after{content:''}
.tab{margin-bottom:-1px;position:relative;z-index:2}
.tab>*{height:36px;width:124px;background-color:#f7f7f7;text-align:center;font-size:14px;text-align:center;line-height:36px;margin-right:20px;border-bottom:1px solid #e7e7e7;box-sizing:content-box;cursor: pointer;}
.tab>.is-active{border:1px solid #e7e7e7;background-color:#fff;border-bottom-color:transparent;cursor: default}
.tab-panel{border:1px solid #e7e7e7;position:relative;z-index:1}
.table tr[align=left] td,.table tr[align=left] th{text-align:left;padding-left:20px}
.table th{line-height:42px;text-align:center;color:#000;border-width:0;border-style:solid;border-color:transparent;border-top-width:1px;border-bottom-width:1px}
.table th:first-child{border-left-width:1px}
.table th:last-child{border-right-width:1px}
.table td{border-width:0;border-style:solid;border-color:transparent;border-bottom-width:1px;border-left-width:1px;vertical-align:middle;text-align:center}
.table td:last-child{border-right-width:1px}
.table-border{background-color:#e8e8e8;border-spacing:1px 1px}
.table-border td{background-color:#fff;vertical-align:middle;padding:8px 0}
.theme-bluegray td,.theme-bluegray th{border-color:#e0eaf6}
.theme-bluegray th{background-color:#f2f7ff}
.theme-gray th{background-color:#f5f5f5}
.theme-gray td,.theme-gray th{border-color:#e8e8e8}
.text-center{text-align:center}
.text-indent{text-indent:1em}
.text-two-indent{text-indent:2em}
.text-left{text-align:left!important}
.text-right{text-align:right}
.title{font-size:16px;line-height:30px;box-sizing:border-box;position:relative}
.title a,.title label{position:absolute;right:10px;font-size:14px}
.top{top:0}
.w{width:1200px;box-sizing:border-box}
.wallet .el-dialog .table td,.wallet .el-dialog .table th{text-align:left;text-indent:1em}
.wechatdialog{background:url(../../assets/images/wechatsao.png) top right no-repeat;height:420px}
.wechatdialog .code{padding-left:30px;padding-top:64px;width:240px}
.wechatdialog .code p{line-height:60px;text-align:center;font-size:16px}
.wechatdialog .qrcode{width:200px;height:200px;padding:19px;border:1px solid #e7e7ee;margin-right:50px}